/* Alejandro Caballero Luque */
/* José Ramón Rejano Ruge */

body {
    margin: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 0.9;
}

header {
    width: 100%;
    height: 15vh;
    background-color: #0d3490;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}

main {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("../images/backgorund_menu.jpg");
    background-size: cover;
}

div {
    vertical-align: middle;
    align-items: center;
    margin-bottom: 5vh;
}

button {
    background-color: #0234ab;
    color: white;
    padding: 1rem 2rem;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 10px 7px 10px black;
}

button:hover {
    background-color: #1b56dd;
}

a {
    color: white;
    text-decoration: none;
    background-color: #0234ab;
    padding: 1rem 2rem;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 10px 7px 10px black;
}

a:hover {
    background-color: #1b56dd;
}

a:after {
    color: white;
    text-decoration: none;
    background-color: #0234ab;
    padding: 1rem 2rem;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 10px 7px 10px black;
}

header div {
    margin-bottom: -10px;
    margin-top: 5px;
    margin-left: 10px;
}

footer {
    width: 100%;
    height: 15vh;
    background-color: #0d3490;
    text-align: center;
    color: white;
}

.logo {
    width: 20%;
    position: fixed;
    top: 3vh;
    left: 2vh;
}

.logo2 {
    width: 25%;
    position: fixed;
    top: 3vh;
    right: 2vh;
}

.historial {
    position: fixed;
    top: 17vh;
    left: 2vw;
}

.instrucciones {
    width: 60px;
    position: fixed;
    top: 17vh;
    right: 2vw;
    box-shadow: 10px 7px 10px black;
    border-radius: 100%;
}

.popup {
    position: fixed;
    top: 25vh; /* Justo debajo de la imagen */
    right: 12vh; /* Ajusta para alinearlo con la imagen */
    background-color: white;
    color: black;
    border: 2px solid #0234ab;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 250px;
    display: none; /* Oculto por defecto */
}

.popup::after {
    content: '';
    position: absolute;
    top: -10px;
    right: 20px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent white transparent;
}

.popup p {
    text-align: center;
}

@media (max-width: 375px) {
    .popup {
        width: 200px;
    }
}